/*escreve o teu css aqui*/
*
body {
    font-family:Arial, Helvetica, sans-serif; 
    margin:0;  
}

h1,h2,h3 {
    color: rgb(50, 50, 50);
}

p {
    color: #323232;
}

.banner {
    background-image:
     linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)), 
     url('images/loop-home-banner-final-1.jpg');
    padding: 80px 0;
    text-align: center;
    background-size: cover;
    background-position: center;
}

.banner h1 {
    color: white;
    font-size: 48px;
    font-weight: bold;
    margin: 0;
}

.banner p{
    color: white;
    font-size: 24px;
}

.botao {
    background-color: #FFCC00;
    color:  #003399;
    padding: 16px, 48pX;
    display: inline-block;
    border-radius: 8px;
    margin-top: 52px;
}

.botao:hover {
    background-color: #edbe00;
}

.container {
    width: 850px;
    margin: 50px auto;
}

.cartao {
    background-color: white;
    border: 1px solid #f0f0f0;
    border-radius: 8px;
    width: 200px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 24px;
    margin: 8px;
    transition: .3s;
}

.cartao img {
    width: 90px;
    height: 90px;
    margin: 10px;
}

.cartao h3{
    color: #003399;
}

.cartoes {
    display: flex;
    justify-content: space-between;
}

.cartao:hover {
    transform: scale(1.04);
}

.footer {
    background-color: #003399;
    text-align: center;
    padding: 16px 0;
}

.footer p {
    color: white;
}

